.active-link {
    background-color: #bbdefb; /* A light, bright blue */
    color: #1e88e5; /* A darker blue for the text */
    border-radius: 15px; /* More rounded corners for a rectangular shape */
    padding: 5px 15px; /* Add some padding for the rounded shape to be visible */
}
