.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  flex-direction: column;
  gap: 20px;
}

mat-card {
  width: 400px;
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

.button-container {
  position: relative;
  width: 100%;
  margin-top: 10px;

  button {
    width: 100%;
  }
}

.result-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 150px;
}

.result-text {
  text-align: left;
  width: 100%;
}

.error-text {
  color: red;
}
.placeholder-text{
    color: #777;
}
